<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>
<h1 th:text="${title}">title</h1>
<div th:object="${surveyForm}">
    <p th:text="*{age}"></p>
    <p th:text="*{satisfaction}"></p>
    <p th:text="*{comment}"></p>
    <form method="post" action="#" th:action="@{/survey/form}">
        <input type="hidden" name="age" th:value="*{age}"><br>
        <input type="hidden" name="satisfaction"  th:value="*{satisfaction}"><br>
        <input type="hidden" name="comment" th:value="*{comment}" ><br>
        <input type="submit" value="戻る">
    </form>
    <form method="post" action="#" th:action="@{/survey/complete}">
        <input type="hidden" name="age" th:value="*{age}"><br>
        <input type="hidden" name="satisfaction" th:value="*{satisfaction}"><br>
        <input type="hidden" name="comment" th:value="*{comment}">
        <input type="submit" value="完了">
    </form>
</div>
</body>
</html>